        body   {
            margin: 0;
            padding: 0;
            background : #000000 !important; 
            color: white !important;
            overflow-x: hidden;
        }

        /* Background Video */
        .bg-video {
            position: fixed;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            opacity: 0.3;
        }

        /* Page Header */
        .game-header {
            padding: 120px 40px 40px;
        }

        .game-title {
            font-size: 4rem;
            font-weight: 800;
            text-shadow: 0 0 15px black;
        }

        .play-btn {
            padding: 12px 35px;
            background: #008947;
            border-radius: 30px;
            color: #000;
            font-weight: bold;
            text-decoration: none;
            transition: 0.2s;
        }

        .play-btn:hover {
            background: #00ff80;
            transform: scale(1.05);
        }

        /* Game Info Cards */
        .info-box {
            background: rgba(255, 255, 255, 0.159);
            backdrop-filter: blur(6px);
            border-radius: 12px;
            padding: 20px;
            margin-bottom: 20px;
        }

        /* Gallery */
        .gallery img {
            width: 100%;
            border-radius: 10px;
            transition: .2s;
            cursor: pointer;
        }

        .gallery img:hover {
            transform: scale(1.04);
        }
