* {
    overflow: hidden;
}

.Main {
    width: 100%;
    height: 100vh;
    background-image: url(/img/ghost/background.png);
}

.game {
    position: relative;
    padding: 0px 100px;
}

.first {
    height: 100vh;
}

.second {
    height: 100vh;

}

.third {
    height: 100vh;
}

.fourth {
    height: 100vh;
}

.run-img {
    width: 30%;
    height: 300px;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 70%;
}

.ghost {
    width: 200px;
    height: 200px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 23%;
}

.ghost-img {
    width: 200px;
    height: 200px;
}

.Overlay2 {
    background-image: url("/img/ghost/game-over.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 2;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn2 {
    color: green;
    padding: 10px 50px;
    position: absolute;
    left: 670px;
    top: 250px;
    border-radius: 5px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.249);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}

.navbar__main {
    position: fixed !important;
    top: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.249);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}